img.light {
float: right; 	
}
h1.number {
  border-style: solid;
  border-color: white;
  background-color: #FFFFFF;
  border-radius: 25px;
  text-align: left;	
}

body { 
    font-family: "Courier New", Courier, monospace;
    background: url("../images/backgroundflame.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;}